<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/all-patients"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme
      </ion-label>
      <ion-toggle checked="false" id="themeToggle" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
